<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Mediathèque de Pleyber Christ{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="../css/style.css">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>


    <div id="content">
        <div id="main">
        {% block body %}{% endblock %}
    {% block javascripts %}{% endblock %}
</div>
</div>

</body>
</html>
