{% extends "base.html.twig" %}

{% block body %}
            <h4>Confirmation de réservation </h4>
            
            <p>Ajout ok !</p>
{#            <p>{{ dump(currentuser.username) }}</p>
            <p>-</p>
            <p>{{ dump(finduser) }}</p>#}

            
            
{% endblock %}