{% extends "base.html.twig" %}

{% block body %}
    <h4>Confirmation</h4>
    <div class="confirm">
        <p>Votre réservation a bien été prise en compte. Vous pouvez retrouver vos réservations sur la <a href="/mes-reservations"> page dédiée</a>.
            </p>
    </div>
    <p> <a href="/">Retour à l'accueil</a></p>
{% endblock %}