{% extends "base.html.twig" %}

{% block body %}
    <h4>Confirmation</h4>
    <div class="confirm">
        <p>Votre réservation a bien été prise en compte. Vous pouvez retrouver vos réservations sur votre page dédiée.</p>
    </div>
    <p> <a href="/mes-reservations" >Voir mes réservations</a></p>
    <a href="/" onclick="window.history.go(-1); return false;"> Retour en arrière </a>
    <p> <a href="/" >Retour à l'accueil</a></p>
{% endblock %}