{% extends "base.html.twig" %}

{% block body %}
    <h4>Confirmation </h4>
    <div class="confirm">
        <p>Votre emprunt a bien été prise en compte. Vous pouvez retrouver vos emprunts sur la <a href="/mes-emprunts"> page dédiée</a>.
            </p>
    </div>
    <a href="/">Retour à l'accueil</a>
    
{% endblock %}