{% extends "base.html.twig" %}

{% block body %}
            <h4>Confirmation de réservation </h4>
            
            <span><a href="{{ path('mpc_platform_homepage') }}">Tous</a></span> | <span><a href="{{ path('filter_bd') }}">BDs</a></span><span> | Livres</span><span> | <a href="{{ path('filter_cd') }}">CDs</a></span>
            <p>Ajout ok !</p>

            
            
{% endblock %}