<ul>
    {% for event in events %}
        <li><span class="titre_event">{{ event.titre }}</span><span class="date_event"> le {{ event.date|date('d/m/Y') }}</span></li>
        <li>{{ event.detail }}</li>
        <br>
        {%endfor %}
</ul>