{% if not events %}
    <p>Il n'y a actuellement aucun événement en cours.</p>
{% else %}
    <ul>
        {% for event in events %}
            <li><h2><span class="titre_event">{{ event.titre }}</span></h2><span class="add"> Evénement ajouté le {{ event.date|date('d/m/Y') }}</span></li><br>
            <li>{{ event.detail }}</li>
            <br>
        {%endfor %}
    </ul>
{% endif %}