{% extends "base.html.twig" %}

{% block body %}
    <h4>Confirmation</h4>
    <div class="confirm">
        <p>Votre réservation a bien été annulée.</p>
    </div>
    <p> <a href="/mes-reservations" >Retour sur vos réservations</a></p>
    <p> <a href="/" >Retour à l'accueil</a></p>
{% endblock %}