{% extends "base.html.twig" %}

{% block body %}
    <h4>Confirmation </h4>
    <div class="confirm">
        <p>L'emprunt a bien été réstitué.
            </p>
    </div>
    <br>
    <p><a href="/liste-emprunts">Retour à la liste des emprunts</a></p><br>
    <p><a href="/">Retour à l'accueil</a></p>
    
{% endblock %}