{% extends "base.html.twig" %}
{% block body %}

    <div id="event"></div>

        </div>

<script type="text/javascript">
    var xhr = new XMLHttpRequest();
    xhr.open("GET", "/allevents", true);
    xhr.onload = function (e) {
    if (xhr.readyState === 4) {
      if (xhr.status === 200) {
        console.log(xhr.responseText);

        document.getElementById("event").innerHTML = (xhr.responseText);

      } else {
        console.error(xhr.statusText);
      }
    }
    };
    xhr.onerror = function (e) {
    console.error(xhr.statusText);
    };
xhr.send(null);
    </script>

        {% endblock %}