<html>
    <head>
        <title>Mediathèque de pleyber-Christ</title>
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    {% block body %}
    <body>
        <div id="header">
            <nav id="menu">
                <ul>
                    <li><a href="#">Cadre de vie</a></li>
                    <li><a href="#">Vie municipale</a></li>
                    <li><a href="#">Vie locale et sociale</a></li>
                    <li><a href="#">Vie associative et culturelle</a></li>
                    <li><a href="#">Liens</a></li>
                    <li><a href="#">Economie</a></li>
                </ul>
            </nav>
            <nav id="login">
                <ul>
                    <li><a href="login">Se connecter</a></li>
                    <li><a href="register">S'enregistrer</a></li>
                </ul>
            </nav>
        </div>

        <div id="content">
            <div id="main">
                <h4>Les derniers ouvrages ajoutés : </h4>
                {% for ouvrage in ouvrages %}
                    <ul>
                        <li>{{ ouvrage.titre }} {% if ouvrage.date %} ajouté le {{ ouvrage.date|date('d/m/Y') }}{% endif %} - <a href="{{ path('ouvrage_show', { 'id': ouvrage.id }) }}">Voir</a></li>
                    </ul>
                {% endfor %}
            </div>
            <div id="aside">
                <p>ASIDE</p>
            </div>

        </div>



    </body>
    {% endblock %}
    <div id="footer">FOOTER</div>
</html>

