{% extends "base.html.twig" %}

{% block body %}
    <p>Avec plus de 10000 ouvrages, la médiathèque met à votre disposition un outil culturel ouvert à tous qui permet de contribuer aux loisirs, à l’information, à l’éducation, à la formation et à la culture pour tous. La consultation sur place des livres et périodiques est libre et gratuite. </p>
    <p>La bibliothèque est constituée de différents espaces. </p>

    <h4>Un espace adulte </h4>
    <ul>
        <li>3000 romans (dont 200 gros caractères, 1900 policiers)</li>
        <li>210 ouvrages du fonds "vécu" (témoignages et biographies)</li>
        <li>Un fonds breton de 450 ouvrages (Ha levrioù e brezhoneg evit bugaled)</li>
        <li>1400 documentaires qui recouvrent tous les domaines encyclopédiques des connaissances </li>
    </ul>

    <h4>Un espace enfant :</h4>
    <ul>
        <li>820 albums</li>
        <li>6 abonnements à des magazines</li>
        <li>1050 romans</li>
        <li>680 documentaires</li>
    </ul>

    <h4>Un espace "périodiques" :</h4>
    <ul>
        <li>9 abonnements à des magazines</li>
        <li>3 abonnements à des quotidiens</li>
        <li>Espace de lecture (consultation sur place)</li>
    </ul>

    <h4>Un espace cinéma de 380 DVD</h4>

    <h4>Un espace musical de 760 CD</h4>

    <p>Un espace de recherche documentaire grâce au catalogue numérique du fonds de la médiathèque, mis à disposition des lecteurs.</p>

    <p>Divers espaces de travail sur place.</p>
{% endblock %}