{% extends "base.html.twig" %}

{% block body %}
    <h4>Liste de tous les emprunts : </h4>

    <ul>
    {% for emprunt in emprunts %}
        <li>{{ emprunt.ouvrage.titre }} à été réservé le {{ emprunt.dateEmprunt|date('d/m/Y') }} - Retour avant le {{ emprunt.dateRetour|date('d/m/Y') }} - par {{ emprunt.utilisateur.username }}</li>
    {% endfor %}

    </ul>
{% endblock %}