{% extends "base.html.twig" %}

{% block body %}
    <h4>Liste de toutes les réservations : </h4>

    <ul>
    {% for reservation in reservations %}
        <li>{{ reservation.ouvrage.titre }} - réservé le {{ reservation.date|date('d/m/Y') }} - par {{ reservation.utilisateur.username }} | <a href="{{ path('ouvrage_ajoutemprunt', { 'id': reservation.ouvrage.id }) }}">Emprunter</a></li>
    {% endfor %}

    </ul>
{% endblock %}