{% extends "base.html.twig" %}

{% block body %}
    <h4>Vous avez réservé : </h4>

    <ul>
    {% for reservation in reservations %}
    <li>{{ reservation.ouvrage.titre }} - le {{ reservation.date|date('d/m/Y') }} | <a href="{{ path('del_reservation', { 'id': reservation.id }) }}">Annuler ma réservation</a>
    {% endfor %}
    </ul>
{% endblock %}