body {
    font-family:Sans-serif;
    font-size:100%;
    background:#EDEEEF;
    margin:0;
    background-repeat: no-repeat;
    background-size: 80%;
}


#header {
    background-color: #46423D;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    font-size: 12px;
}

ul {
    list-style: none; 
    margin: 0;
}

.listecontent {
    padding:10px;
}

.ma_ul li {
    display: table-cell;
    padding: 10px;
    text-align: right;
}

.confirm {
    background-color: #7AD45F;
    padding: 10px;
    width: 22em;
}

a:link {
    text-decoration: none;
}

li a {
    color: #FFBC10;
}

a:hover {
    color:#333333;

}

.add {
    font-size: 10px;
}

.delshow {
    top: 40%;
    right: 10%;
    position: absolute;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* Navbar Responsive */

body {margin:0;}
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

ul.topnav li a:hover {background-color: #FFBC10;}

ul.topnav li.icon {display: none;}

/* START Media Queries for navbar */

@media screen and (max-width:765px) {
    ul.topnav li:not(:first-child) {display: none;}
    ul.topnav li.icon {
        float: right;
        display: inline-block;
    }
}

@media screen and (max-width:765px) {
    ul.topnav.responsive {position: relative;}
    ul.topnav.responsive li.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    ul.topnav.responsive li {
        float: none;
        display: inline;
    }
    ul.topnav.responsive li a {
        display: block;
        text-align: left;
    }
}

/* END Media Queries for navbar */

.content {
    max-width: 80%;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    padding: auto;
    background-color: #EDEEEF;
    font-size: 14px; 
}

.flex-container{
    max-width: 70%;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background-color: #EDEEEF;
    font-size: 14px;
    display: flex;
}

.detail {
    width: 80%;
    padding-left: 2%;
}
.divcover img {
    max-width: 100%;
    width: auto;
    height: auto;
}
.divcover {
    width: 20%;
    min-width: 110px;
    margin-left: auto;
    margin-right: auto;
}

h3 {
    margin-bottom: 1px;
}


#gauche {
    background-color: #fff;
    padding: 3%;
}

@media screen and (max-width:360px) {
    .detail {
        display: none;
        margin-left: auto;
        margin-right: auto;
    }
}